@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
   --primary-blue: #57ddff;
   --primary-pink: #c058f3;
   --transition-delay: 1s;

  /* Dark Theme */

   --dark-blue: #161722;
   --dark-desaturated-blue: #25273c;
   --dark--grayish-blue: #777a92;
   --dark-grayish-blue-two: #5B5E7E;

   /* Light Theme */
   --light-gray: #fafafa;
   --light-grayish-blue: #e4e5f1;
   --light-grayish-blue-two: #d2d3db;
  --light-grayish-blue-three: #9394a5;
  --light-grayish-blue-four: #484b6a;
  --light-grayish-blue-five: #9495A5;
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--dark-blue);
  overflow-x: hidden;
  transition: var(--transition-delay);
}

body.light {
    background-color: var(--light-grayish-blue);
}

ul,
li {
  list-style: none;
}

.background {
  background: url("./images/bg-desktop-dark.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 40vh;
  transition: all 0.3s;
}

.light .background{
    background: url("./images/bg-desktop-light.jpg") no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: -230px auto 0 auto;
}

.reOrderText {
  font-size: 1.2rem;
  text-align: center;
  color: var(--dark-grayish-blue-two);
}

.light .reOrderText{
  color: var(--light-grayish-blue-five);
}

@media (max-width: 600px) {
    .background{
        background: url("./images/bg-mobile-dark.jpg") no-repeat;
        background-size: cover;
        height: 35vh;
    }

    .light .background {
          background: url("./images/bg-mobile-light.jpg") no-repeat;
    }

    .container {
        width: 90%;
    }
}
